/OrdersFood/.idea/.gitignore
/OrdersFood/.idea/Order-food.iml
/OrdersFood/.idea/modules.xml
/OrdersFood/.idea/vcs.xml
/OrdersFood/.idea/.gitignore
/OrdersFood/.idea/compiler.xml
/OrdersFood/.idea/dbnavigator.xml
/OrdersFood/.idea/encodings.xml
/OrdersFood/.idea/jarRepositories.xml
/OrdersFood/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/OrdersFood/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/OrdersFood/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_2.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_2.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_2.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_11_2.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_11_2.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_2.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_2.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_11_2.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_2.xml
/OrdersFood/.idea/libraries/Maven__com_fasterxml_woodstox_woodstox_core_6_2_1.xml
/OrdersFood/.idea/libraries/Maven__com_gcs_vppa_common_0_0_1_SNAPSHOT.xml
/OrdersFood/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
/OrdersFood/.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
/OrdersFood/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_11.xml
/OrdersFood/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/OrdersFood/.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_5.xml
/OrdersFood/.idea/libraries/Maven__commons_codec_commons_codec_1_14.xml
/OrdersFood/.idea/libraries/Maven__commons_io_commons_io_2_6.xml
/OrdersFood/.idea/libraries/Maven__io_github_classgraph_classgraph_4_8_83.xml
/OrdersFood/.idea/libraries/Maven__io_springfox_springfox_core_3_0_0.xml
/OrdersFood/.idea/libraries/Maven__io_springfox_springfox_schema_3_0_0.xml
/OrdersFood/.idea/libraries/Maven__io_springfox_springfox_spi_3_0_0.xml
/OrdersFood/.idea/libraries/Maven__io_springfox_springfox_spring_web_3_0_0.xml
/OrdersFood/.idea/libraries/Maven__io_springfox_springfox_spring_webflux_3_0_0.xml
/OrdersFood/.idea/libraries/Maven__io_springfox_springfox_spring_webmvc_3_0_0.xml
/OrdersFood/.idea/libraries/Maven__io_springfox_springfox_swagger2_3_0_0.xml
/OrdersFood/.idea/libraries/Maven__io_springfox_springfox_swagger_common_3_0_0.xml
/OrdersFood/.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_9_2.xml
/OrdersFood/.idea/libraries/Maven__io_swagger_core_v3_swagger_annotations_2_1_2.xml
/OrdersFood/.idea/libraries/Maven__io_swagger_core_v3_swagger_core_2_1_4.xml
/OrdersFood/.idea/libraries/Maven__io_swagger_core_v3_swagger_integration_2_1_4.xml
/OrdersFood/.idea/libraries/Maven__io_swagger_core_v3_swagger_models_2_1_4.xml
/OrdersFood/.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml
/OrdersFood/.idea/libraries/Maven__io_swagger_swagger_models_1_5_20.xml
/OrdersFood/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/OrdersFood/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/OrdersFood/.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
/OrdersFood/.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
/OrdersFood/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/OrdersFood/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/OrdersFood/.idea/libraries/Maven__junit_junit_4_13.xml
/OrdersFood/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_21.xml
/OrdersFood/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_14.xml
/OrdersFood/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_14.xml
/OrdersFood/.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
/OrdersFood/.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
/OrdersFood/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_10.xml
/OrdersFood/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_12.xml
/OrdersFood/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_13.xml
/OrdersFood/.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_12.xml
/OrdersFood/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
/OrdersFood/.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_13_3.xml
/OrdersFood/.idea/libraries/Maven__org_apache_logging_log4j_log4j_jul_2_13_3.xml
/OrdersFood/.idea/libraries/Maven__org_apache_logging_log4j_log4j_slf4j_impl_2_13_3.xml
/OrdersFood/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
/OrdersFood/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_38.xml
/OrdersFood/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_38.xml
/OrdersFood/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/OrdersFood/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_6.xml
/OrdersFood/.idea/libraries/Maven__org_assertj_assertj_core_3_16_1.xml
/OrdersFood/.idea/libraries/Maven__org_codehaus_woodstox_stax2_api_4_2_1.xml
/OrdersFood/.idea/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
/OrdersFood/.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
/OrdersFood/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_3.xml
/OrdersFood/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_3.xml
/OrdersFood/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/OrdersFood/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
/OrdersFood/.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_21_Final.xml
/OrdersFood/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/OrdersFood/.idea/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
/OrdersFood/.idea/libraries/Maven__org_jboss_jandex_2_1_3_Final.xml
/OrdersFood/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/OrdersFood/.idea/libraries/Maven__org_json_json_20190722.xml
/OrdersFood/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_6_2.xml
/OrdersFood/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_6_2.xml
/OrdersFood/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_6_2.xml
/OrdersFood/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_6_2.xml
/OrdersFood/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_6_2.xml
/OrdersFood/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_6_2.xml
/OrdersFood/.idea/libraries/Maven__org_junit_vintage_junit_vintage_engine_5_6_2.xml
/OrdersFood/.idea/libraries/Maven__org_mapstruct_mapstruct_1_3_1_Final.xml
/OrdersFood/.idea/libraries/Maven__org_mockito_mockito_core_3_3_3.xml
/OrdersFood/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_3_3.xml
/OrdersFood/.idea/libraries/Maven__org_modelmapper_modelmapper_2_3_5.xml
/OrdersFood/.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
/OrdersFood/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/OrdersFood/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
/OrdersFood/.idea/libraries/Maven__org_projectlombok_lombok_1_18_12.xml
/OrdersFood/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/OrdersFood/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/OrdersFood/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/OrdersFood/.idea/libraries/Maven__org_springdoc_springdoc_openapi_common_1_4_4.xml
/OrdersFood/.idea/libraries/Maven__org_springdoc_springdoc_openapi_ui_1_4_4.xml
/OrdersFood/.idea/libraries/Maven__org_springdoc_springdoc_openapi_webmvc_core_1_4_4.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_log4j2_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_2_0_0_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_2_0_0_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_aop_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_aspects_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_beans_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_context_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_core_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_expression_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_jdbc_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_orm_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_test_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_tx_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_web_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_9_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_webjars_swagger_ui_3_31_1.xml
/OrdersFood/.idea/libraries/Maven__org_webjars_webjars_locator_core_0_45.xml
/OrdersFood/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
/OrdersFood/.idea/libraries/Maven__org_yaml_snakeyaml_1_26.xml
/OrdersFood/.idea/misc.xml
/OrdersFood/.idea/modules.xml
/OrdersFood/.idea/uiDesigner.xml
/OrdersFood/.idea/vcs.xml
/OrdersFood/OrdersFood.iml
/OrdersFood-FE/node_modules/
/OrdersFood-FE/.vscode/
/OrdersFood-FE/node_modules
/OrdersFood/target/classes/application.yml
/OrdersFood/target/classes/com/anhtm/ordersfood/OrdersFoodMain.class
/OrdersFood/target/classes/com/anhtm/ordersfood/common/BaseController.class
/OrdersFood/target/classes/com/anhtm/ordersfood/common/BaseConverter.class
/OrdersFood/target/classes/com/anhtm/ordersfood/common/BaseDto.class
/OrdersFood/target/classes/com/anhtm/ordersfood/common/BaseEntity.class
/OrdersFood/target/classes/com/anhtm/ordersfood/common/BaseRepository.class
/OrdersFood/target/classes/com/anhtm/ordersfood/common/BaseService.class
/OrdersFood/target/classes/com/anhtm/ordersfood/config/BeansConfiguration.class
/OrdersFood/target/classes/com/anhtm/ordersfood/config/SwaggerConfiguration.class
/OrdersFood/target/classes/com/anhtm/ordersfood/config/WebSecurityConfiguration.class
/OrdersFood/target/classes/com/anhtm/ordersfood/config/YAMLConfiguration.class
/OrdersFood/target/classes/com/anhtm/ordersfood/config/jwt/JwtAuthenticationFilter.class
/OrdersFood/target/classes/com/anhtm/ordersfood/config/jwt/JwtTokenProvider.class
/OrdersFood/target/classes/com/anhtm/ordersfood/controller/CartController.class
/OrdersFood/target/classes/com/anhtm/ordersfood/controller/CategoriesController.class
/OrdersFood/target/classes/com/anhtm/ordersfood/controller/LogAppController.class
/OrdersFood/target/classes/com/anhtm/ordersfood/controller/ProductController.class
/OrdersFood/target/classes/com/anhtm/ordersfood/controller/SwaggerRedirect.class
/OrdersFood/target/classes/com/anhtm/ordersfood/controller/UserController.class
/OrdersFood/target/classes/com/anhtm/ordersfood/converter/CategoriesConverter.class
/OrdersFood/target/classes/com/anhtm/ordersfood/converter/ProductConverter.class
/OrdersFood/target/classes/com/anhtm/ordersfood/converter/UserConverter.class
/OrdersFood/target/classes/com/anhtm/ordersfood/dto/CartDto.class
/OrdersFood/target/classes/com/anhtm/ordersfood/dto/CartProductDto.class
/OrdersFood/target/classes/com/anhtm/ordersfood/dto/CategoriesDto.class
/OrdersFood/target/classes/com/anhtm/ordersfood/dto/DataSourceDto.class
/OrdersFood/target/classes/com/anhtm/ordersfood/dto/LogAppDto.class
/OrdersFood/target/classes/com/anhtm/ordersfood/dto/PayDto.class
/OrdersFood/target/classes/com/anhtm/ordersfood/dto/ProductDto.class
/OrdersFood/target/classes/com/anhtm/ordersfood/dto/ResponseBodyDto.class
/OrdersFood/target/classes/com/anhtm/ordersfood/dto/UserDto.class
/OrdersFood/target/classes/com/anhtm/ordersfood/entity/Cart.class
/OrdersFood/target/classes/com/anhtm/ordersfood/entity/CartProduct.class
/OrdersFood/target/classes/com/anhtm/ordersfood/entity/Categories.class
/OrdersFood/target/classes/com/anhtm/ordersfood/entity/DataSource.class
/OrdersFood/target/classes/com/anhtm/ordersfood/entity/Pay.class
/OrdersFood/target/classes/com/anhtm/ordersfood/entity/Product.class
/OrdersFood/target/classes/com/anhtm/ordersfood/entity/User.class
/OrdersFood/target/classes/com/anhtm/ordersfood/repository/CategoriesRepository.class
/OrdersFood/target/classes/com/anhtm/ordersfood/repository/ProductRepository.class
/OrdersFood/target/classes/com/anhtm/ordersfood/repository/UserRepository.class
/OrdersFood/target/classes/com/anhtm/ordersfood/service/CategoriesService.class
/OrdersFood/target/classes/com/anhtm/ordersfood/service/ProductService.class
/OrdersFood/target/classes/com/anhtm/ordersfood/service/UserService.class
/OrdersFood/target/classes/com/anhtm/ordersfood/service/impl/CategoriesServiceImpl.class
/OrdersFood/target/classes/com/anhtm/ordersfood/service/impl/ProductServiceImpl.class
/OrdersFood/target/classes/com/anhtm/ordersfood/service/impl/UserServiceImpl.class
/OrdersFood/target/classes/com/anhtm/ordersfood/utils/Base64Utils.class
/OrdersFood/target/classes/com/anhtm/ordersfood/utils/RegexUtils.class
/OrdersFood/target/classes/com/anhtm/ordersfood/utils/ResponseUtils.class
/OrdersFood/target/classes/data.sql
/OrdersFood/target/maven-archiver/pom.properties
/OrdersFood/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/OrdersFood/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/OrdersFood/.idea/libraries/Maven__io_github_classgraph_classgraph_4_8_69.xml
/OrdersFood/.idea/libraries/Maven__io_jsonwebtoken_jjwt_0_9_1.xml
/OrdersFood/.idea/libraries/Maven__io_swagger_core_v3_swagger_annotations_2_1_9.xml
/OrdersFood/.idea/libraries/Maven__io_swagger_core_v3_swagger_core_2_1_9.xml
/OrdersFood/.idea/libraries/Maven__io_swagger_core_v3_swagger_integration_2_1_9.xml
/OrdersFood/.idea/libraries/Maven__io_swagger_core_v3_swagger_models_2_1_9.xml
/OrdersFood/.idea/libraries/Maven__org_springdoc_springdoc_openapi_common_1_5_9.xml
/OrdersFood/.idea/libraries/Maven__org_springdoc_springdoc_openapi_ui_1_5_9.xml
/OrdersFood/.idea/libraries/Maven__org_springdoc_springdoc_openapi_webmvc_core_1_5_9.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_security_spring_security_config_5_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_security_spring_security_core_5_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_springframework_security_spring_security_web_5_3_4_RELEASE.xml
/OrdersFood/.idea/libraries/Maven__org_webjars_swagger_ui_3_49_0.xml
/OrdersFood/.settings/org.eclipse.core.resources.prefs
/OrdersFood/.settings/org.eclipse.jdt.apt.core.prefs
/OrdersFood/.settings/org.eclipse.jdt.core.prefs
/OrdersFood/.settings/org.eclipse.m2e.core.prefs
/OrdersFood/.classpath
/OrdersFood/.factorypath
/OrdersFood/.project
/OrdersFood/.vscode/settings.json

/OrdersFood/.vscode
